html{
    margin:0px;
}

.top{
    h1{
        font-size: 40px;
    }
}

.border{
    width: 95vw;
    height: 1.5px;
    background-color: gray;
}
.toppading{
    padding-top: 30px;
}


.Main-con{
    padding:30px 0px 30px 5px;
    table{
        border: 1px solid black;
        tr{

            .bottom{
                th{
                    border: none !important;
                }
            }
            th{
                .head{
                    padding: 20px 20px 20px 20px;
                }
                .Content{
                    text-align: start;
                    flex-direction: column;
                    padding: 10px 10px 10px 10px;
                    select{
                        flex-direction: row !important;
                    }
                    .time{
                        input{
                            height: 20px;
                            width: 70px;
                        }
                        display: flex;
                        flex-direction: row !important;
                    }
                }
                border: 1px solid black;
            }
        }
    }
}